body{
  background-color: lightgrey;
  font-family: 'Hina Mincho', serif;
}

/***Navbar ***/
.navbar-brand h1{
  font-size: 3.5vw;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand p{
  font-style: italic;
  font-size: .7em;
}
.navbar-brand a{
  text-decoration: none;
  color: white;
}
.navbar-brand a:hover{
  text-decoration: underline;
}
.collapse:not(.show) {
    display: contents;
}
#nav-list a{
  text-decoration: none;
  font-size: 1.5em;
/*  background-color: lightgrey;*/
  padding-left: 5px;
  padding-right: 5px;
/*  text-shadow: 1px 1px 1px #222;*/
  background-color: #5cb85c;
  padding-bottom: 5px;
  border-radius: 5px;
}
#nav-list a, span{
}
#nav-list a:hover{
  background-color:green ;
}
/*** End of Navbar ***/



/*** Main Content ***/
.jumbotron img{
  padding: 0px;
  width: 54%;
  height: 650px;
  box-shadow: 0 0 30px #3F0C1F;
  border: 2px solid #3F0C1F;
}
#collagePicture{
  margin-top: 30px;
}
#main-content{
  padding: 0px;
}
#introduction{
  width: 44%;
  float: right;
  position: relative;
  margin-top: 30px;
  margin-left: 2%;
/*  background-color: yellow;*/
}
#introduction h2{
  text-align: center;
  font-family:"Luckiest Guy", cursive;
}
#introduction p{
  font-size: 1.3em;
  margin-bottom: 0;
}
#drawingCard{
  float: left;
  height: 470px;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 12%;
}
#drawingCard img{
  width: 100%;
  height: 300px;
}
#paintingCard{
  float: right;
  height: 470px;
  margin-top: 30px;
  border-radius: 10px;
  margin-right: 12%;
}
#paintingCard img{
  width: 100%;
  height: 300px;
}
#services{
  font-family:"Luckiest Guy", cursive;
  text-align: center;
  clear: both;
  padding-top: 50px;
}
#clients img{
  width: 20%;
  height: 250px;
  margin-top: 20px;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
}
#clients p{
  padding: 20px;
  font-style: italic;
  font-weight: bold;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
#clients span{
  color: black;
  font-style: italic;
  font-weight: normal;
  font-size: 0.95em;
}

/***End of Main content***/

/*** Footer ***/
#footer div, span{
  color: white;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  margin-top: 10px;
  padding: 5px 10px 10px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #E1306C;
  color: white;
}
/*** Footer ***/


/****** Large devives only *******/
@media (min-width: 1200px){
  /***Main content***/
  .jumbotron img{
    height: 550px;
  }
  #introduction p{
    font-size: 1.63em;
  }
  #clients img{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
  }
  #clients p{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  /***End of Main content***/
}



/****** Medium devices only *******/
@media (min-width: 992px) and (max-width: 1199px){
  /***Main content***/
  .jumbotron img{
    height: 450px;
  }
  #introduction p{
    font-size: 1.36em;
  }
  #clients img{
    margin-left: 38%;
    margin-right: 38%;
    width: 24%;
  }
  #clients p{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  /***End of main content***/
}



/****** small devices only *******/
@media (min-width: 768px) and (max-width: 991px){
  .jumbotron img{
    /***Main content***/
    height: 450px;
  }
  #introduction p{
    font-size: 1.2em;
  }
  #drawingCard{
    margin-left: 0;
  }
  #paintingCard{
    margin-right: 0;
  }
  #clients img{
    margin-left: 36%;
    margin-right: 36%;
    width: 28%;
  }
  #clients p{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  /***End of main content***/
}



/****** Extra small devices only ******/
@media (max-width: 767px){
  /***navbar ***/
  .navbar-brand h1{
    font-size: 4.5vw;
  }
  #nav-list a{
    font-size: large;
  }
  /***end of navbar ***/

  /***main content***/
  .jumbotron img{
    width: 100%;
    height: 450px;
  }
  #introduction{
    width: 100%;
    margin-top: 30px;
  }
  #introduction p{
    font-size: 1em;;
    margin-bottom: 20px;
  }
  #drawingCard{
    float: none;
    margin-left: 23%;
  }
  #paintingCard{
    float: none;
    margin-left: 23%;
  }
  #clients img{
    margin-left: 32%;
    margin-right: 32%;
    width: 36%;
  }
  #clients p{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  /***  end of Main content ***/
}